<!doctype html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta content="en" http-equiv="Content-Language"/>
    <meta content="#2d89ef" name="msapplication-TileColor">
    <meta content="#4188c9" name="theme-color">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <link href="../favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>tabler.github.io - a responsive, flat and full featured admin template</title>
    <!-- Font -->
    <link href="../../assets/css/fontawesome.min.css" rel="stylesheet">
    <!-- Require.js -->
    <script src="../../assets/js/require.min.js"></script>
    <!-- Dashboard Core -->
    <link href="../../assets/css/dashboard.css" rel="stylesheet"/>
    <script src="../../assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="../../assets/plugins/charts-c3/plugin.css" rel="stylesheet"/>
    <script src="../../assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="../../assets/plugins/maps-google/plugin.css" rel="stylesheet"/>
    <script src="../../assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="../../assets/plugins/input-mask/plugin.js"></script>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="./index.html">
                        <img alt="tabler logo" class="header-brand-img" src="./demo/brand/tabler.svg">
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="nav-item d-none d-md-flex">
                            <a class="btn btn-sm btn-outline-primary" href="https://github.com/tabler/tabler"
                               target="_blank">Source code</a>
                        </div>
                        <div class="dropdown d-none d-md-flex">
                            <a class="nav-link icon" data-toggle="dropdown">
                                <i class="fe fe-bell"></i>
                                <span class="nav-unread"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item d-flex" href="#">
                                    <span class="avatar mr-3 align-self-center"
                                          style="background-image: url(../../demo/faces/male/41.jpg)"></span>
                                    <div>
                                        <strong>Nathan</strong> pushed new commit: Fix page load performance issue.
                                        <div class="small text-muted">10 minutes ago</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex" href="#">
                                    <span class="avatar mr-3 align-self-center"
                                          style="background-image: url(../../demo/faces/female/1.jpg)"></span>
                                    <div>
                                        <strong>Alice</strong> started new task: Tabler UI design.
                                        <div class="small text-muted">1 hour ago</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex" href="#">
                                    <span class="avatar mr-3 align-self-center"
                                          style="background-image: url(../../demo/faces/female/18.jpg)"></span>
                                    <div>
                                        <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                                        <div class="small text-muted">2 hours ago</div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center text-muted-dark" href="#">Mark all as read</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="nav-link pr-0 leading-none" data-toggle="dropdown" href="#">
                                <span class="avatar"
                                      style="background-image: url(../../demo/faces/female/25.jpg)"></span>
                                <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Jane Pearson</span>
                      <small class="text-muted d-block mt-1">Administrator</small>
                    </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon fe fe-settings"></i> Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="float-right"><span class="badge badge-primary">6</span></span>
                                    <i class="dropdown-icon fe fe-mail"></i> Inbox
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon fe fe-send"></i> Message
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon fe fe-help-circle"></i> Need help?
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon fe fe-log-out"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="header-toggler d-lg-none ml-3 ml-lg-0" data-target="#headerMenuCollapse" data-toggle="collapse"
                       href="#">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 ml-auto">
                        <form class="input-icon my-3 my-lg-0">
                            <input class="form-control header-search" placeholder="Search&hellip;" tabindex="1"
                                   type="search">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a class="nav-link" href="./index.html"><i class="fe fe-home"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)"><i
                                        class="fe fe-box"></i> Interface</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a class="dropdown-item " href="./cards.html">Cards design</a>
                                    <a class="dropdown-item " href="./charts.html">Charts</a>
                                    <a class="dropdown-item " href="./pricing-cards.html">Pricing cards</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link active" data-toggle="dropdown" href="javascript:void(0)"><i
                                        class="fe fe-calendar"></i> Components</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a class="dropdown-item " href="./maps.html">Maps</a>
                                    <a class="dropdown-item " href="./icons.html">Icons</a>
                                    <a class="dropdown-item " href="./store.html">Store</a>
                                    <a class="dropdown-item active" href="./blog.html">Blog</a>
                                    <a class="dropdown-item " href="./carousel.html">Carousel</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)"><i
                                        class="fe fe-file"></i> Pages</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a class="dropdown-item " href="./profile.html">Profile</a>
                                    <a class="dropdown-item " href="./login.html">Login</a>
                                    <a class="dropdown-item " href="./register.html">Register</a>
                                    <a class="dropdown-item " href="./forgot-password.html">Forgot password</a>
                                    <a class="dropdown-item " href="./400.html">400 error</a>
                                    <a class="dropdown-item " href="./401.html">401 error</a>
                                    <a class="dropdown-item " href="./403.html">403 error</a>
                                    <a class="dropdown-item " href="./404.html">404 error</a>
                                    <a class="dropdown-item " href="./500.html">500 error</a>
                                    <a class="dropdown-item " href="./503.html">503 error</a>
                                    <a class="dropdown-item " href="./email.html">Email</a>
                                    <a class="dropdown-item " href="./empty.html">Empty page</a>
                                    <a class="dropdown-item " href="./rtl.html">RTL mode</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="./form-elements.html"><i class="fe fe-check-square"></i> Forms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./gallery.html"><i class="fe fe-image"></i> Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./docs/index.html"><i class="fe fe-file-text"></i>
                                    Documentation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        Blog components
                    </h1>
                </div>
                <div class="row row-cards row-deck">
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <a href="#"><img alt="And this isn&#39;t my nose. This is a false one." class="card-img-top"
                                             src="./demo/photos/david-klaasen-54203-500.jpg"></a>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
                                <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are
                                                        you suggesting that coconuts migr...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/female/18.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Rose Bradley</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <a href="#"><img alt="Well, I didn&#39;t vote for you." class="card-img-top"
                                             src="./demo/photos/david-marcu-114194-500.jpg"></a>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">Well, I didn't vote for you.</a></h4>
                                <div class="text-muted">Well, we did do the nose. Why? Shut up! Will you shut up?! You
                                                        don't frighten us, English pig-dog...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/male/16.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Peter Richards</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <a href="#"><img alt="How do you know she is a witch?" class="card-img-top"
                                             src="./demo/photos/davide-cantelli-139887-500.jpg"></a>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">How do you know she is a witch?</a></h4>
                                <div class="text-muted">Are you suggesting that coconuts migrate? No, no, no! Yes, yes.
                                                        A bit. But she's got a wart. You ...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/male/26.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Wayne Holland</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <a href="#"><img alt="Shut up!" class="card-img-top"
                                             src="./demo/photos/dino-reichmuth-84359-500.jpg"></a>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">Shut up!</a></h4>
                                <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us,
                                                        English pig-dogs! Go and boil yo...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/female/7.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Michelle Ross</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">Weaseling out of things is important to learn.</a></h4>
                                <div class="text-muted">Please do not offer my god a peanut. That's why I love
                                                        elementary school, Edna. The children beli...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/male/4.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Bobby Knight</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">You don't like your job, you don't strike.</a></h4>
                                <div class="text-muted">But, Aquaman, you cannot marry a woman without gills. You're
                                                        from two different worlds… Oh, I've ...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/male/35.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Craig Anderson</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">I hope I didn't brain my damage.</a></h4>
                                <div class="text-muted">I don't like being outdoors, Smithers. For one thing, there's
                                                        too many fat children. Oh, loneline...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/female/29.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Crystal Wallace</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-aside">
                            <a class="card-aside-column" href="#"
                               style="background-image: url(../../demo/photos/david-klaasen-54203-500.jpg)"></a>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">And this isn't my nose. This is a false one.</a></h4>
                                <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice! …Are
                                                        you suggesting that coconuts migr...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/female/18.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Rose Bradley</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-aside">
                            <a class="card-aside-column" href="#"
                               style="background-image: url(../../demo/photos/david-marcu-114194-500.jpg)"></a>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">Well, I didn't vote for you.</a></h4>
                                <div class="text-muted">Well, we did do the nose. Why? Shut up! Will you shut up?! You
                                                        don't frighten us, English pig-dog...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/male/16.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Peter Richards</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-aside">
                            <a class="card-aside-column w-50" href="#"
                               style="background-image: url(../../demo/photos/grant-ritchie-338179-500.jpg)"></a>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">Weaseling out of things is important to learn.</a></h4>
                                <div class="text-muted">Please do not offer my god a peanut. That's why I love
                                                        elementary school, Edna. The children believe anything you tell
                                                        them. Brace
                                                        yourselves gentlemen. According to the gas chromatograph, the
                                                        secr...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/male/4.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Bobby Knight</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-aside">
                            <a class="card-aside-column w-50" href="#"
                               style="background-image: url(../../demo/photos/ilnur-kalimullin-218996-500.jpg)"></a>
                            <div class="card-body d-flex flex-column">
                                <h4><a href="#">You don't like your job, you don't strike.</a></h4>
                                <div class="text-muted">But, Aquaman, you cannot marry a woman without gills. You're
                                                        from two different worlds… Oh, I've wasted my life. Son, when
                                                        you participate in
                                                        sporting events, it's not whether you win or lose: it's...
                                </div>
                                <div class="d-flex align-items-center pt-5 mt-auto">
                                    <div class="avatar avatar-md mr-3"
                                         style="background-image: url(../../demo/faces/male/35.jpg)"></div>
                                    <div>
                                        <a class="text-default" href="./profile.html">Craig Anderson</a>
                                        <small class="d-block text-muted">3 days ago</small>
                                    </div>
                                    <div class="ml-auto text-muted">
                                        <a class="icon d-none d-md-inline-block ml-3" href="javascript:void(0)"><i
                                                class="fe fe-heart mr-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">First link</a></li>
                                <li><a href="#">Second link</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Third link</a></li>
                                <li><a href="#">Fourth link</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Fifth link</a></li>
                                <li><a href="#">Sixth link</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Other link</a></li>
                                <li><a href="#">Last link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    Premium and Open Source dashboard template with responsive and high quality UI. For Free!
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item"><a href="./docs/index.html">Documentation</a></li>
                                <li class="list-inline-item"><a href="./faq.html">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-outline-primary btn-sm" href="https://github.com/tabler/tabler">Source
                                                                                                              code</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto mt-0 mt-lg-0 text-center">
                    Copyright © 2018 <a href="https://github.com/XMUOOADIntellij/CourseManageSystem">Cms</a>.
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>